body{ 
    background-image: url('sunset.jpg');
    background-size: cover;
    color: rgb(0, 0, 0);
}
fieldset {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 100px;
    transition: transform 0.2s ease ; display:block
}
fieldset:hover{ transform : translateY(8px)

}

.myanimation {
    color:white ;
  font-size: 50px;
  animation: move 1s infinite;
}

@keyframes move {
  from { transform: translateY(0px); }
  to { transform: translateY(130px); }
}

.linkx{
border: 3px solid rgb(255, 255, 255);   /* border size + color */
    padding: 10px;             /* space between text and border */
    width: fit-content;        /* box fits text */
    border-radius: 10px;       /* rounded corners (optional) */
    cursor: pointer;           /* hand icon */
    text-align: center;
     margin: 0 auto
     ;color:white; text-decoration: none;
     transition: transform 0.2s ease; display: block;
    }
     
.linkx:hover{
  
    transform: translateY(8px); /* move down on hover */
}


